
<header>
	<div class="container">
		<div class="summary">
			<h1>Angelica Hom</h1>
			<p><strike>Ninja.</strike>  <strike>Rockstar.</strike> <strike>Student.</strike> <br>Technology enthusiast.</p>
		</div>
	</div>
</header>

<div id="history" class="container">
	<div class="summary">
		<p>I'm a recent graduate from <a href="http://is.sfsu.edu/academic">San Francisco State University</a> with a degree in Business and Information Systems.</p>
		<p>Previously worked on <strong>marketing</strong>, <em>front-end dev</em> and <em>social media</em> at a few startups including <a href="https://fabrily.com/">Fabrily</a>, <a href="http://degreed.com/">Degreed</a>, and <a href="http://www.goranku.com/">Ranku</a>. <br>Before startups, I was an <em>accounting clerk</em> at Kitman Chan, CPA and an <em>accounts receivable coordinator</em> at World Leaders Travel.</p>
		<p>Studied abroad in Hong Kong from 2012-2013 continuing Management of Information Systems and <a href="http://www.hungryangie.com/">traveled</a> for a year.</p>
	</div>
</div>

<section id="skills">
	<div class="container">
		<div class="summary">
			<h2>Skills*</h2>
			<p>*It pays the bills</p>
			<div class="row">
				<div class="col-md-4">
					<p>Taught through school</p>
					<ul>
						<li>SQL</li>
						<li>VB.NET</li>
						<li>C++</li>
					</ul>
				</div>
				<div class="col-md-4">
					<p>Taught through experience</p>
					<ul>
						<li>HTML5</li>
						<li>CSS3</li>
						<li>Adobe Illustrator</li>
						<li>Sprout Social</li>
						<li>Quickbooks</li>
						<li>Lacerte</li>
					</ul>
				</div>
				<div class="col-md-4">
					<p>Taught by myself</p>
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>Ruby on Rails</li>
						<li>Git</li>
						<li>Cantonese</li>
						<li>Ukulele</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p>Currently seeking full-time work.</p>
			</div>
			<div class="col-md-4">
				<a href="mailto:angelica.hom@gmail.com">email</a>
				<a href="www.linkedin.com/in/angelicahom/">linkedin</a>
				<a href="https://github.com/hungryangie">github</a>
				<a href="https://twitter.com/HungryAngie">twitter</a>
				<a href="#">resume</a>
			</div>
			<div class="col-md-4">
				<p><span class="glyphicon glyphicon-heart"></span> Made with love and some coffee.</p>
			</div>
		</div>
	</div>
</footer>
