
<header>
	<div class="container">
			<h1>Angelica Hom</h1>
			<p>Technology Enthusiast</p>
	</div>
</header>

<div id="content" class="container">
	<div id="first">
		<div class="row">
			<div class="col-md-6">
				<h2>About Me</h2>
				<p>I'm a recent graduate from <a href="http://is.sfsu.edu/academic">San Francisco State University</a> with a Bachelor's of Science in Business and Information Systems.</p>
			</div>
			<div class="col-md-6">
				<h2>Experience</h2>
				<ul>
					<li><strong>Marketing Intern, Oct. 2013-Feb. 2014</strong><br>Fabrily, London, UK</li><br>
					<li><strong>Management Information Systems</strong><br>City University of Hong Kong, Exchange Program 2012-2013</li><br>
					<li><strong>A.S. in Social and Behavioral Sciences</strong><br>City College of San Francisco, 2010</li><br>
					<li><a href="#">To be continued...</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="second">
		<div class="row">
			<div class="col-md-6">
				<h2>Education</h2>
				<ul>
					<li><strong>B.S. in Business Administration, Information Systems Concentration</strong><br>San Francisco State University, 2014</li><br>
					<li><strong>Management Information Systems</strong><br>City University of Hong Kong, Exchange Program 2012-2013</li><br>
					<li><strong>A.S. in Social and Behavioral Sciences</strong><br>City College of San Francisco, 2010</li><br>
				</ul>
			</div>
			<div class="col-md-6">
				<h2>Skills*</h2>
				<p>*It pays the bills</p>
			</div>
		</div>
	</div>
</div> 

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p>
					<a href="mailto:angelica.hom@gmail.com">email</a> 
					<a href="https://www.linkedin.com/in/angelicahom/">linkedin</a>
					<a href="https://github.com/hungryangie">github</a> 
					<a href="#">resume</a>
					<a href="https://www.hungryangie.com">blog</a>
				</p>
			</div>
			<div class="col-md-6">
				<p><span class="glyphicon glyphicon-heart"></span> Made with love and some coffee.</p>
			</div>
		</div>
	</div>
</footer>