
<header>
	<div class="container">
			<h1>Angelica Hom</h1>
			<p><strong>Technology Enthusiast</strong></p>
	</div>
</header>

<div id="content" class="container">
	<div id="first">
		<div class="row">
			<div class="col-md-6">
				<h2>About Me</h2>
				<p>I aspire to be the go-to woman for data analysis.</p><p>I grew up in a family of engineers and computer scientists. Since high school, I've taken development courses.</p><p></p>
			</div>
			<div class="col-md-6">
				<h2>Experience</h2>
				<ul>
					<li><strong>Marketing Intern, Oct. 2013-Feb. 2014</strong><br><a href="https://fabrily.com/">Fabrily</a>, London, UK</li><br>
					<li><strong>Front End Dev Apprentice, Oct. 2013-Nov 2013</strong><br><a href="http://degreed.com/">Degreed</a>, San Francisco, CA</li><br>
					<li><strong>Intern, July 2013-Sept.2013</strong><br><a href="http://www.goranku.com/">Ranku, Inc.</a>, New York City, NY</li><br>
					<li><a href="#">Wait, there's more...</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="second">
		<div class="row">
			<div class="col-md-6">
				<h2>Education</h2>
				<ul>
					<li><strong>B.S. in Business Administration, Information Systems Concentration</strong><br><a href="http://www.sfsu.edu/">San Francisco State University</a>, 2014</li><br>
					<li><strong>Information Management</strong><br><a href="http://www.cb.cityu.edu.hk/is/">City University of Hong Kong</a>, Exchange Program 2012-2013</li><br>
					<li><strong>A.S. in Social and Behavioral Sciences</strong><br><a href="https://www.ccsf.edu/NEW/">City College of San Francisco</a>, 2010</li><br>
				</ul>
			</div>
			<div class="col-md-6">
				<h2>Skills*</h2>
				<p>*It pays the bills</p>
				<ul>
					<li><strong>Technical: </strong></li>
				</ul>
			</div>
		</div>
	</div>
</div> 

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p>Contact me: 
					<a href="mailto:angelica.hom@gmail.com">email</a> &middot; 
					<a href="https://www.linkedin.com/in/angelicahom/">linkedin</a> &middot; 
					<a href="https://github.com/hungryangie">github</a> &middot; 
					<a href="#">resume</a> &middot; 
					<a href="https://www.hungryangie.com">blog</a>
				</p>
			</div>
			<div class="col-md-6">
				<p><span class="glyphicon glyphicon-heart"></span> Made with love and some coffee.</p>
			</div>
		</div>
	</div>
</footer>