@import url(http://fonts.googleapis.com/css?family=Bitter:700);
@import url(http://fonts.googleapis.com/css?family=Raleway);

@media (max-width: 776px) {
	* {text-align:center;
		padding:0px 4px;}

	.col-md-4 {margin:5px;}

	#skills {padding:0px 0px 0px 10px;}
}

.summary {
	font-size:20px;
}

.container {
	padding:5px 0px;
	font-family: 'Raleway', Verdana, sans-serif;
}

.row {
	padding:30px 0px;
}

#history {
	padding:30px 0px;
}

#history p {
	padding:16px 0px;
}

h1 {
	font-size:50px;
	font-family:'Bitter', Georgia, serif;
}

h2 {
	font-size:35px;
	font-family:'Bitter', Georgia, serif;
}

a {
	color:#CCCC00;
	border-bottom:1px dotted #CCCC00;
}

a:hover {
	text-decoration:none;
	color:grey;
}

footer {
	font-size:16px;
	border-top:1px solid #CCCC00;
	background-color:#E6F1F5;
}

ul {
	font-size:16px;
	list-style:none;
}
