<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="I'm a technology enthusiast.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angelica Hom</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
