<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="I'm a technology enthusiast.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angelica Hom</title>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <style type="text/css">
	  @import url(http://fonts.googleapis.com/css?family=Bitter:700);
		@import url(http://fonts.googleapis.com/css?family=Raleway);
		@media (max-width: 992px) {* {text-align:center;padding:0px 3px}}
		* {text-align:center;}
		header {border-bottom:1px solid #CCCC00;padding:15px 0px}
		#content {padding:35px 0px;margin-bottom:5px}
		footer {border-top:1px solid #CCCC00;background-color:#E6F1F5;padding:20px 0px 15px 0px;margin:0px -10px}
		h1 {font-size:50px;font-family:"Bitter", Georgia, serif}
		h2 {font-size:30px;font-family:"Bitter", Georgia, serif}
		a {color:#CCCC00;border-bottom:1px dotted #CCCC00}
		a:hover {text-decoration:none;color:gray}
		p {font-family: "Raleway", Verdana, sans-serif;font-size:16px}
		ul {list-style:none;padding:0px 15px 0px 15px;font-family: "Raleway", Verdana, sans-serif;font-size:16px}
		img {display:inline-block;height:auto;max-width:100%}
	</style>
</head>
<body>

<%= yield %>

</body>
</html>
